<md-card class="card-login">
    <md-toolbar style="width: 100%" color="primary">Login</md-toolbar>
    <md-card-content>
        <form style="margin: 30px; padding: 30px; text-align: center">
            <md-input style="width: 100%" #usuarioInput placeholder="Usuário"></md-input>
            <md-input style="width: 100%" #senhaInput placeholder="Senha"></md-input>
            <div style="text-align: right">
                <button md-raised-button color="primary">Cadastre-se</button>
                <button md-raised-button color="primary">Entrar</button>
            </div>
        </form>

        <md-card-actions>
            <button
                    md-raised-button
                    color="primary"
                    class="google"
                    (click)="loginGoogle()">Google</button>
            <button md-raised-button
                    color="primary"
                    class="github"
                    (click)="loginGithub()">Github</button>
            <button md-raised-button
                    color="primary"
                    class="twitter"
                    (click)="loginTwiter()">Twitter</button>
        </md-card-actions>
    </md-card-content>
</md-card>

